*{
    margin: 0;
    padding: 0;
}

#title{
    padding-top: 25px;
    text-align: center;
    color: white;
}

#subtitle{
    text-align: center;
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#user{
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    background-color: brown;
    border-top: 2px solid #05407b;
    border-left: 2px solid #05407b;
    border-radius: 4px;
}

.wrapper{
    background-color: #05407b;
}

nav{
    background-color: #05407b;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}